<div class="row">
  <div class="col-4">
    <h2>Knjižnica</h2>
    <img src="../../../knjiznica/public/assets/img/knjige.png" alt="o nama" class="responsive-img" />
    <p>
      Svojim posjetiteljima osiguravavamo slobodan pristup sadržajima
      namijenjenima odraslima i djeci - od književnih, znanstvenih,
      općeobrazovnih do kulturno-umjetničkih, zabavnih i drugih sadržaja.
      "Prilagoditi se vremenu i ići ukorak s budućnosti!“ - jasna je vizija
      naše knjižnice u njezinim nastojanjima da se odgovori na sve izazove
      vremena u kojem njezini članovi i korisnici žive i djeluju. Istodobno
      se nastoji učiniti ustanovu prepoznatljivom kao središnje mjesto
      znanja, pristupačnosti, informacije, obrazovanja i kulture u gradu
      Rijeci, njenoj okolici, pa i šire.
    </p>
  </div>
  <div class="col-4">
    <h2>Rijeka</h2>
    <img src="../../../knjiznica/public/assets/img/rijeka.png" alt="Rijeka" class="responsive-img" />
    <p>
      Grad Rijeka je najveća hrvatska luka, treći po veličini grad u
      Republici Hrvatskoj te administrativno središte Primorsko-goranske
      županije. Povijesno središte Rijeke formiralo se kraj ušća rijeke
      Rječine u Jadransko more. Riječke kulturne manifestacije svojom
      kvalitetom veoma su važne za kalendar kulturnih događanja, to su prije
      svega: Riječke ljetne noći, Ljeto na Gradini, Revija lutkarskih
      kazališta, Međunarodni festival malih scena - Rijeka, Jazz time
      festival, Festival komorne glazbe zatim Međunarodni biennale crteža,
      Književna nagrada "Drago Gervais" i brojne druge.
    </p>
  </div>

  <div class="col-4">
    <h2>Naši zaposlenici</h2>
    <img
      src="../../../knjiznica/public/assets/img/zaposlenici.jpg"
      alt="zaposlenici"
      class="responsive-img"
    />
    <p>
      Naši djelatnici su posvećeni misiji ustanove te dodatnim edukacijama i
      stručnim usavršavanjem njeguju organizacijsku kulturu, nastoje
      unaprijediti i nadograditi usluge koje se nude, a svojom ljubaznošću i
      otvorenošću knjižnicu učiniti ugodnim mjestom koji je svima otvoren.
      Izrazito smo ponosni što u našoj knjižnici rade profesionalno
      osposobljeni djelatnici. Osposobljeni da budu dinamični u svom radu
      pronalaze najnovije relevantne informacije.
    </p>
  </div>
</div>
